img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  align-content: center;
}

body {
  background-color: rgb(27, 73, 89);
}

h1 {
  color: aquamarine;
  text-align: center;
}
p {
  color: aquamarine;
}

a {
  color: aquamarine;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

.button {
  color: aquamarine;
}
